<div class="ui placeholder segment">
  <div class="ui very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="ui grid">
          <div class="field eight wide column">
            <label>Name</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Enter name">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field eight wide column">
            <label>Email</label>
            <div class="ui left icon input">
              <input type="email" placeholder="Enter email">
              <i class="user icon"></i>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="field eight wide column">
            <label>Mobile Number</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Enter mobile number">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field eight wide column">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" placeholder="Enter password">
              <i class="lock icon"></i>
            </div>
          </div>
        </div>
        <div class="ui blue submit button">Sign Up</div>
      </div>
    </div>
  </div>
</div>